[2015-12-10 20:34] sbrannen opened #1 "Incorporate community feedback from JUnit Lambda repository"
See https://github.com/junit-team/junit-lambda/issues/12

[2015-12-14 22:48] cgruber commented on #1
@sbrannen - where are the bulk of conversations happening about the API.  I have comments and want to ensure I'm not duplicating things others have already put forward, or am conversing in the wrong fora.

[2015-12-15 12:54] sbrannen commented on #1
Hi @cgruber,

All discussions involving the OTA should now take place here in this repository.

This particular _issue_ is more of a placeholder for me to ensure that we do not overlook feedback already provided in the JUnit Lambda repository.

Thus, if you would like to provide feedback, please open a new issue or issues in this repository focused on the particular feature you would like to discu

[2015-12-15 12:58] sbrannen commented on #1
Due to the fact that we began discussions in the JUnit Lambda repository, it's unfortunately not possible to completely avoid duplication. In the end, all discussions will have to take place here.

So if you have a topic you'd like to discuss that has already been brought up on the JUnit Lambda repository, feel free to create a dedicated issue in this repository and link to existing pertinent comm

[2015-12-15 13:00] sbrannen opened #2 "Ensure expected and actual fields are serializable"
As mentioned in https://github.com/junit-team/junit-lambda/issues/12#issuecomment-158146630, IDEs and build tools require that fields in `AssertionErrors` such as `expected` and `actual` are _serializable_.

[2015-12-15 16:47] kcooney opened #3 "Provide an interface for collecting exceptions"
It would be useful to provide an interface that could be implemented by classes like `org.JUnit.rules.ErrorCollector`. This could be useful for libraries like Truth

We should consider giving the interface a signature compatible with `java.util.function.Consumer`

[2015-12-15 17:01] sbrannen commented on #3
Do you mean something as simple as the following?

[code]

[2015-12-15 18:44] cgruber commented on #1
SGTM.  Just wanted to make sure there wasn't a mailing list I was missing.

[2015-12-15 18:46] cgruber commented on #2
Is that workable?  There is a lot of objects-under-test that are not serializable.  Especially in custom assertions.  They may merely have a reasonable toString() but not be at all serializable.

[2015-12-15 18:46] cgruber commented on #2
Simple example - java8's Optional is not serializable, and I expect a lot of people to dump Optional<String> into tests and get them shoved into test-failure exceptions.

[2015-12-15 19:26] sbrannen commented on #2
The general consensus is that we will not be able to store such fields as `Object`.

Instead, we will have to store a `String` representation of such objects (which is serializable).

The current proposal is to create such strings in a manner similar to the following.

[code]

We rely on the assumption that most classes will implement `toString()` in a meaningful way. However, since not all classe

[2015-12-15 20:43] cgruber opened #4 "Detach the exception hierarchy from AssertionError"
At this point, since this is a new library, and the major test infrastructure projects are all involved in discussing it, it might be timely to finally detach from AssertionError, whose intention was quite different than "Failing test".  Since the frameworks are going to need to adapt to use this library anyway, there's no necessary payoff for such frameworks and tools to require AssertionError at

[2015-12-15 20:53] sbrannen commented on #4
Very interesting proposal.

We in fact considered such an approach but abandoned it very quickly simply due to the fact that most (if not all) testing frameworks on the JVM treat `AssertionError` as a test failure. With that in mind, we hope to add value _without_ breaking backwards compatibility with existing frameworks... and at the same time we want any new sublasses of `AssertionError` to be t

[2015-12-15 21:39] cgruber commented on #4
I have never wanted exceptions-as-interfaces more than right now. lol.  It would be nice to have these APIs not be saddled with a poor life choice from way back, but allow assertion frameworks like Truth or AssertJ to make their exceptions work on either system.  But as you say, let's see what others have to say.

In my mind, the worst is that if someone uses ot4j-based exceptions from an assertio

[2015-12-15 23:05] kcooney commented on #3
@sbrannen Yes. But we may want to have the same signature as `Consumer` so it can extend `Consumer<Throwable>`  later.

If you don't feel like `Consumer` is a good fit, then I suggest naming the method `reportException()`

[2015-12-16 21:40] cgruber commented on #2
That seems (to me) to be taking on the work of the assertion frameworks,
whose job seems to be to present an API and resulting output in reasonably
user-consumable ways.  I worry that conversion to strings turns the
communication channel from assertion framework to test-runner into a
situation no better than just string messages (which we already have), so
the benefit of keeping the expected/actua

[2016-05-05 18:42] alb-i986 opened #5 "Usage of jdk 1.7"
IDEA reports this issue

	public AssertionFailedError(String message, Object expected, Object actual, Throwable cause) {
		super(message, cause);
		this.expected = expected;
		this.actual = actual;
	}

is using the super constructor `AssertionError(String message, Throwable cause)` which was added in jdk 1.7, whereas build.gradle declares 1.6 compatible.

[2016-05-06 07:44] marcphilipp commented on #5
Good catch!

I think we should use a Gradle AnimalSniffer plugin to detect such issues in our build.

@alb-i986 Would you be interested in working on that?

[2016-05-06 07:45] marcphilipp commented on #5
This plugin looks suitable:
https://plugins.gradle.org/plugin/ru.vyarus.animalsniffer

[2016-05-06 09:27] alb-i986 commented on #5
@marcphilipp yeah, sure, I can take a look. I'm not very familiar with gradle but I'll try.
Thanks

[2016-05-06 15:07] marcphilipp commented on #5
Great, thanks! Please let us know if you run into any problems.

[2016-05-06 15:16] sbrannen commented on #5
This is an alternative animal sniffer plugin: http://www.mojohaus.org/animal-sniffer/index.html

It doesn't provide a first-class Gradle plugin, but it provides Ant tasks that can be easily used in Gradle.

It's used in the Gradle build for the Spring Framework.

I don't know if this one is better than the one @marcphilipp suggested, but it might be worth checking out both.

[2016-05-06 15:20] sbrannen commented on #5
_in progress_ (regarding use of the JDK 1.7 constructor)

[2016-05-06 15:38] sbrannen commented on #5
Fixed in `master` in commit 90db8b4ff81b737b82155880ded7ddff2eb62b0e.

[2016-05-06 15:39] #5 closed

[2016-05-06 15:39] sbrannen opened #6 "Introduce animal sniffer in Gradle build"
See the discussion in #5 for details and links to possible tools to use.

[2016-05-06 15:40] alb-i986 commented on #4
+1

This is something I actually wanted to bring up.
I think that AssertionError should be detached from the Error hierarchy, and rather `extend RuntimeException`.

It's quite a big change that may not have such a great practical impact, but..

### "Philosophical"
As already pointed out, it would just make more sense. From [Error's javadoc](https://docs.oracle.com/javase/7/docs/api/java/lang/Error

[2016-05-06 15:41] sbrannen commented on #5
@alb-i986, if you do any work on the animal sniffer, please do that in conjunction with issue #6.

[2016-05-09 21:07] #6 closed

[2016-05-10 16:40] alb-i986 opened #9 "Define a standard for test reports"
Could it be within scope?

The goal here is to have a common format which testing frameworks and build tools can understand, so that, for example, JUnit (producer) can write the test report in this common format, and then Jenkins (consumer) can read it and display in its web UI in HTML or whatever other form is desired.

Something like [maven-surefire's XSD](https://maven.apache.org/surefire/maven

[2016-05-10 17:55] marcphilipp commented on #9
I think that makes sense. However, I'm not sure how to get all the stakeholders to join in. A well-drafted proposal can't hurt, tough. 😉

[2016-05-10 18:09] sbrannen commented on #9
I also think it's a good idea, and the OTA would be an ideal place to _host_ such a standard.

And I agree with @marcphilipp: this will require a well thought out (with extensibility and flexibility in mind) and well documented draft.

With that in mind, feel free to propose such a draft!

[2016-05-13 10:08] baev opened #10 "Allure Framework Team would like to support Open Test API"
Hi there!

I am a creator of [Allure Framework](https://github.com/allure-framework/allure-core). Our team would like to support this project. It would be nice to create an open standard for testing.

Please feel free to contact our team to reach feedback.

Dmitry Baev

[2016-05-14 11:59] marcphilipp commented on #10
We'd be happy to collaborate with you! Do you have concrete ideas what functionality should be added? 😄

Right now this library contains a few exceptions that are intended to be reusable by many testing frameworks, not just JUnit. I assume that would be interesting for Allure, e.g. to show `expected` and `actual` values for test failures.

[2016-05-14 12:12] marcphilipp commented on #2
I'm starting to work on this issue.

[2016-05-14 12:38] raniejade opened #11 "Should junit-platform-engine and junit-platform-launcher be part of opentest4j?"
With `junit-engine-api` and `junit-launcher` you could easily write your own test framework, why not make them part of opentest4j?

[2016-05-14 16:18] #2 closed

[2016-05-15 18:00] sbrannen commented on #11
Well, that's certainly an interesting idea, but I fear it would not be reasonable at this point in time.

Although `junit-engine-api` and `junit-launcher` are rather generic by design, they are still core building blocks of the JUnit 5 architecture. Furthermore, they both make use of Java 8 features and libraries. Making them part of opentest4j would therefore have far reaching effects on the rest

[2016-05-16 07:55] raniejade commented on #11
Point taken. I'm working on a test framework for Kotlin (https://github.com/raniejade/kspec) and planning to implement a custom test engine. Currently it has it's own engine, but I think it's going to be a big win to move to using a custom junit5 test engine. One of the advantage I can think of is getting out-of-the-box  idea and build tool support, with a premise that JUnit5 will be widely used.

[2016-05-16 08:29] marcphilipp commented on #11
We will ship M1 end of May. We're already in touch with the IntelliJ IDEA team and are quite optimistic that they will then quickly pick it up. There has already been a prototype on the corresponding [item on their issue tracker](https://youtrack.jetbrains.com/issue/IDEA-148288).

Having said that, I think it would be great if you could implement a custom `TestEngine` to bring support for KSpec to

[2016-05-16 09:06] raniejade commented on #11
I'll be drafting an implementation this week, I'll let you know if I have any questions.  I have already a general idea on how to do it, this package  https://github.com/junit-team/junit5/tree/master/junit-engine-api/src/main/java/org/junit/gen5/engine/support/hierarchical is a good starting point.

[2016-05-16 09:23] baev commented on #10
I think you need to write a document which contains a list of test statuses with detailed descriptions. An example - what exactly your `TestSkippedException ` means for the test? Is test was skipped because some features wasn't implemented yet, or user choose to don't run such test (this mean some features won't be tested and may be bugged) or test can't be runned (eg test database is not availabl

[2016-05-16 10:55] sbrannen opened #14 "Avoid use of String.format() in the OTA"
Some frameworks such as GWT do not support `String.format(...)`. Thus, in order for the OTA to be usable in such environments, we should avoid the use of `String.format()` entirely.

[2016-05-16 11:12] #14 closed

[2016-05-16 11:15] sbrannen opened #15 "Add project metadata to JAR manifest"

[2016-05-16 11:28] sbrannen commented on #15
@aalmiray,

Do we have your permission to include some of the Gradle JAR Manifest code from JUnit 5 in the build for the OTA? (see https://github.com/ota4j-team/opentest4j/commit/c1ab39aa72557f198b2974272c1439ed205a0eef)

[2016-05-16 13:48] aalmiray commented on #15
Yes, you may use the code 😄

[2016-05-16 14:09] sbrannen commented on #15
Awesome!

Thank you, @aalmiray! 👍

[2016-05-16 14:12] #15 closed

[2016-05-16 16:48] sbrannen opened #16 "Use cached ValueWrapper for null expected and actual values in AssertionFailedError"
## Status Quo

Whenever `null` values are supplied as `expected` or `actual` arguments to the `AssertionFailedError` constructor, a `new ValueWrapper(null)` is always created. This is unnecessary and slows down test suites.

## Deliverables

- [ ] Use a cached `ValueWrapper` for null values supplied as `expected` or `actual` arguments to the `AssertionFailedError` constructor.
  - consider introdu

[2016-05-16 17:15] #16 closed

[2016-05-19 13:21] marcphilipp opened #17 "Ensure GWT compatibility in Gradle build"
This is a follow-up on #14. I would like to have an automated check for GWT compatibility in our Gradle build. I think it should be possible to use Animal Sniffer for this purpose by generating/using a signature for GWT-compliant methods.

[2016-05-19 13:24] marcphilipp commented on #16
👍

[2016-05-26 11:02] baev commented on #10
@marcphilipp any updates on this?

[2016-05-26 14:56] baev commented on #9
Allure Framework has its [own format](https://github.com/allure-framework/allure-core/blob/master/allure-model/src/main/resources/allure.xsd) that supports attachments, steps and a bit more. We have a lot of adaptors that store test results in our format:

* Codeception
* Cucumber
* Cucumber JS
* Cucumber JVM
* Jasmine
* JUnit 4
* Karma
* Mocha
* Nose
* NUnit
* PHPUnit
* PyTest
* RSpec
* ScalaTest

[2016-05-27 12:42] volkovs commented on #10
@baev do you mean you would like to have standard test execution statuses (for reporting systems) to be included in opentest4j (like PASSED, BROKEN, FAILED, SKIPPED, ABORTED) and their mapping from exceptions?

I guess JavaDoc already describes the reason of exceptions. E.g. `TestAbortedException` saying "a test was aborted during execution (e.g., due to a failed assumption)" meaning precondition

[2016-05-27 12:59] marcphilipp commented on #10
@volkovs Thanks, but I don't think this is ready for a pull request, yet. I'm not sure just having an enum (?) with the statuses would be useful. Who would use it and how?

[2016-05-30 08:11] volkovs commented on #10
Hi @marcphilipp,

Standard exceptions should be enough for Test Execution / Report tools. But test execution status is relied on in tools collecting and aggregating test execution (could be different test frameworks) results like Sonar, Test Management Systems, probably in conditions controlling CD pipeline, as well as in custom listeners for Test Framework (onTestFailed(), onTestSkipped(), etc.)

[2016-05-31 17:28] marcphilipp commented on #9
It would be great to have such a common format! Do you have a proposal already that we can use as a starting point for the discussion?

[2016-06-24 18:42] baev commented on #9
https://github.com/allurefw/allure2-model/blob/master/src/main/resources/xsd/allure2_model.xsd

[2016-06-25 20:52] mmichaelis opened #20 "Support for Exception-Creation-Strategies: AssertionFailedException, TestAbortedException, ..."
JUnit 4 knew 3 exit states:

* Failure - triggered by failed assertions
* Skipped - triggered by failed assumptions
* Error - triggered by any other exception

Based on that we created a framework for system tests which:

1. Provide a function which retrieves a value from the system under test.
2. Embed this function into a Wait-object
3. To trigger waiting the Wait-object has methods like:
    *

[2016-06-26 12:17] mmichaelis commented on #20
For a more concrete example have a look at: https://github.com/CoreMedia/joala and more
specifically to:

* [joala/DefaultCondition.java at master · CoreMedia/joala](https://github.com/CoreMedia/joala/blob/master/parent/conditions/src/main/java/net/joala/condition/DefaultCondition.java)

The Condition is an object which knows how to retrieve values from a system under test, it knows how to determi

[2016-06-26 12:35] mmichaelis opened #21 "AssertionFailedException: What's the benefit of the expected value?"
What I like about IDEs knowing about actual and expected: They can clearly show them in console and provide a "diff" function. Currently they have to parse the exception message and guess expected and actual value from it.

But this only makes sense, if we expect a certain value... but already fails for negation, such as not null, or not equal to, ... With the current implementation of AssertionFa

[2016-06-26 18:12] mmichaelis commented on #21
Also the actual state can be much more complex than to put it into a simple value:

| Phase | Test | On Mismatch |
|---------|-----|------------------|
| Initialization | Expect Environment: Windows | TestSkippedException reporting actual environment |
| Preparation | Expect: HTML textfield becomes visible | TestAbortedException reporting actual visibility of textfield (either does not exist or is

[2016-07-01 15:53] sbrannen commented on #9
FYI: I've opened a similar discussion for the JUnit Platform as well: https://github.com/junit-team/junit5/issues/373

[2016-07-01 21:46] mmichaelis commented on #9
Such a standard would not only be interesting for Java. I know of other testing frameworks as for example for JavaScript, which exactly try to reproduce the JUnit4-format so especially CIs like Jenkins/Hudson are able to interpret the results. This might also vote at least for an alternative format in JSON which JavaScript can easily deal with.

[2016-07-04 19:15] marcphilipp commented on #21
It's certainly true that the current `AssertionFailedError` lacks support for anything but the trivial equals mismatch. I think something along the lines of your proposal makes sense! I didn't get the last part regarding specialized objects for different IDEs. How would that look in terms of code?

[2016-07-12 16:02] marcphilipp commented on #20
JUnit 4 actually doesn't distinguish between errors and failures. I believe that was a JUnit 3 feature. However, some IDEs (e.g. Eclipse) display `AssertionErrors` different from other exceptions.

Please correct me if I'm wrong but don't they all have a `(String, Throwable)` constructor at the moment?

Having a common base exception would be one way to solve it but not the only one. Your proposal

[2016-07-12 19:23] mmichaelis commented on #20
(Forgot to mention the Success state of course.) Actually I relied on the interpretation of CIs like Jenkins and IDEs like IntelliJ Idea. And I think the four exit states are actually useful especially in case of integration tests where a test setup might be somewhat complex and it's important to distinguish if a feature is broken or the feature could not be tested because the test preparation fai

[2016-07-13 18:50] marcphilipp commented on #20
Ok, let us know when you're ready! :)

[2016-07-13 23:32] mmichaelis commented on #20
Not yet ready... but I have a proof-of-concept ready which could already benefit from some feedback:

https://github.com/mmichaelis/opentest4j/tree/issue-21-introduce-debug-information

From the commit message:

- - -
Issue #21: Introduce DebugInformation

Introducing a more generic way to provide additional information for debugging upon assertion failures. The DebugInformation is key-value based

[2016-07-14 05:37] mmichaelis opened #22 "ValueWrapper not robust against toString() failure"
My experience shows that you cannot even trust `toString()`. Some implementations throw exceptions and the `ValueWrapper` should be robust against those objects as it should not be part of the `ValueWrapper` to uncover this problem.

If my current suggestion for #21 makes it into opentest4j the following commit contains a suggested solution:
- 50a9a09804f8ba45e7f52d9384c054459b77219a

[2016-07-24 14:58] sbrannen opened #24 "Use platform line endings in MultipleFailuresError"
## Status Quo

The line ending used in `MultipleFailuresError` is hard coded to `\n`.

## Deliverables

- [ ] Use platform-specific EOL markers in `MultipleFailuresError`.

[2016-07-24 18:12] mmichaelis commented on #24
This is already addressed in PR #23. Just in case you decide to accept this PR.

[2016-10-19 00:53] kcooney opened #27 "Extract a ComparisonFailure interface from AssertionFailedException"
It would be useful if JUnit4's `ComparisonFailure` exception could share a common interface with OpenTest4J's `AssertionFailedException` so 1) IDEs have a simple way to show a diff view on comparison failure and 2) JUnit4 can get better IDE integration for comparison failures for things that are not strings.

This would require some changes to `AssertionFailedException`, since the JUnit4 `Comparis

[2016-10-19 00:57] cgruber commented on #27
I presume you didn't mean `hasisActualValue()` but `hasActualValue()`

[2016-10-19 01:32] kcooney commented on #27
@cgruber fixed. Thanks

[2016-11-04 20:12] marcphilipp opened #28 "Publish Javadoc"
Publish Javadoc to gh-pages.

[2016-11-04 20:13] marcphilipp commented on #28
I'm working on this issue.

[2016-11-04 20:52] marcphilipp commented on #28
Snapshot Javadoc is now being published to http://ota4j-team.github.io/opentest4j/docs/snapshot/api/ with every build by [Jenkins](https://junit.ci.cloudbees.com/job/OpenTest4J/). In addition, I've generated Javadocs for 1.0.0-ALPHA and 1.0.0-M1 to http://ota4j-team.github.io/opentest4j/docs/1.0.0-ALPHA/api/ and http://ota4j-team.github.io/opentest4j/docs/1.0.0-M1/api/, respectively. The latest re

[2016-11-04 20:52] #28 closed

[2016-11-05 16:39] sbrannen commented on #28
👍

[2016-11-16 11:51] marcphilipp commented on #27
We could certainly do this. Another option would be to change Vintage to use `AssertionFailedError` instead of `ComparisonFailure` going forward, right?

[2016-11-16 15:25] kcooney commented on #27
@marcphilipp changing JUnit4 in that way would break tests and tools

[2016-11-16 16:01] marcphilipp commented on #27
I don't think it would break a lot of tests and it would only break tools that don't support OTA, right?

[2016-11-16 18:01] kcooney commented on #27
@marcphilipp Eclipse (and probably other IDEs) special case `ComparisonFailure`. I have seen tests at Goggle that assume that calling certain assertion methods in certain ways result in `ComparisonFailure`.

While IDEs will eventually be updated to support OTA, it will take time for people to update their IDEs.

What's wrong with extracting an interface as I proposed?

[2016-11-27 17:32] kcooney commented on #27
@marcphilipp any more thoughts on this?

Note that we could change JUnit4's `AssertionFailedError`  extend OpenTest4J's `AssertionFailedException`, but that would also require renaming the methods as I described in the original bug description.

[2016-11-28 10:53] marcphilipp commented on #27
How would that work in terms of artifact dependencies and JDK compatibility? JUnit4 is still compiled to JDK5 byte code while OTA4J isn't... 🤔

[2016-11-28 14:58] kcooney commented on #27
Sooner or later we will have a release of JUnit4 that is compiled with a more recent JDK (I was originally thinking that we would do that in a point-zero release, but since 5.0 is taken...). We have had a few feature requests that require JDK 6

[2017-02-06 20:28] kcooney commented on #9
One problem in general with using XML for reporting test results is that XML isn't well suited for streaming results out (so it couldn't be used to update the JUnit UI in Eclipse). You might want to consider a format that first prints out the test plan, then sends out updates as tests are run. That might be tricky if you support test cases that are generated after the first test has run.

[2017-02-22 13:22] gaganis opened #30 "Change MultipleFailuresError to support Throwables instead of AssertionError"
Creating this issue to track the changes in MultipleFailuresError that are required to fix downstream junit5 project's bug  https://github.com/junit-team/junit5/issues/659

The aim of this is to provide junit5's vintage engine a way to collect and report multiple errors when ErrorCollector is used in junit4 tests.

[2017-02-23 20:03] marcphilipp opened #33 "Make MultipleFailuresError immutable"
Exceptions should generally be immutable. Thus we should replace `addFailure()` by a constructor parameter of type `List<? extends Throwable>`, copy it and assign it to `failures`.

[2017-02-24 15:14] gaganis commented on #33
The discussion that led to the creation of this issue can be found in PR #32

[2017-02-24 16:38] #30 closed

[2017-02-24 16:39] marcphilipp commented on #33
Fixed by 1a886822e83b07c87feb4dca14ad1ef281a45022.

[2017-02-24 16:39] #33 closed

[2017-05-16 14:28] leonard84 commented on #9
I also think that the OTA would be a good place to host such a standard. Supporting JSON as first class alternative to XML would further improve adoption by other frameworks. The OTA could provide converters so that consumers could decide how they would like to parse the results.

Furthermore I agree with @kcooney that the format should be able to support streaming. The Spock Framework uses it's o

[2017-05-16 14:40] leonard84 opened #35 "MultipleFailuresError vs. Throwable.addSuppressed"
Currently opentest4j uses Java 6 compatibility, which prevents `Throwable.addSuppressed`. However, Java 6 has been EOL for a very long time so switching to Java 7/8 should be considered. Which raises the question if `MultipleFailuresError` is still needed when further exceptions could simply be added by  `Throwable.addSuppressed`.

[2017-05-16 15:30] baev commented on #9
BTW I can post an example of Allure 2 format as well:

## Sample results

https://gist.github.com/baev/9a06b3907309307ef848d93a07696240

## Overview

The main idea is that format should represent test execution tree and be as simple as possible. Only one property is required, so you can start with simple JSON like this:

[code]

then you can add test result status (one of `failed`, `broken`, `pass

[2017-05-16 18:42] mmichaelis commented on #9
I especially like the steps-report. This fits to our requirements in UI-tests, which is to easily understand what was wrong and (in case of a failure) to have a readable body of a test to manually try to reproduce the failure. Example of our test-scenarios: [SokaHH: Testen von Rich-Web-UI (German)](https://www.slideshare.net/MarkMichaelis2/sokahh-testing/13?src=clipshare) (based on Gherkin)

If it

[2017-05-17 12:36] marcphilipp commented on #9
I think the streaming requirement is crucial. So, the format should not be nested but rely on processing tools to create a tree out of nodes linked using uuid. We could use a JSON streaming format, e.g. line-delimited JSON (cf. https://en.wikipedia.org/wiki/JSON_Streaming). Thoughts?

[2017-05-17 12:42] marcphilipp commented on #35
I think there are semantic differences between `MultipleFailuresError` and `Throwable.addSuppressed`. While the former signifies that multiple assertions failed, the latter means there was one failure and some other exceptions were suppressed during processing, e.g. tear-down.

Libraries that use opentest4j can already use Throwable.addSuppressed with e.g. `AssertionFailedError` if they require at

[2017-05-17 13:09] gaganis commented on #35
I fully agree with @marcphilipp. Just adding, one of the uses cases where we utilized this was to collect errors emitted in vintage. These errors have all the same sematic importance. Using suppressed we would have a problem selecting which error is the main and which exceptions should be suppressed.

[2017-05-18 16:08] leonard84 commented on #35
Ok, if the distinction of `MultipleFailuresError` vs `Throwable.addSuppressed` is that the former is used to collect multiple assertion errors and the latter is used to attach subsequent exceptions in listeners/cleanup handlers.

[2017-05-18 17:22] leonard84 commented on #9
IMHO it makes sense to define both a streaming and a storage/archive format. Due to its nature the streaming format has redundant information and is more complicated to analyze.

Using line-delimited json for streaming sounds good, it is similar to what Spock does at the moment. It uses a simple TCP protocol: `(<length-as-string>'\n'<json>'\n')*` so its a hybrid of line-delimited and length-prefix

[2017-05-18 17:30] kcooney commented on #9
@leonard84 I actually do think that the streaming format should emit an initial test plan first. The major IDEs show the entire test tree while the test is running, and update it when passing and failing tests as they run. If they want to use the streaming format to do that, the streaming format would need to emit the test plan first.

[2017-05-18 19:49] marcphilipp commented on #35
Sounds like we're in agreement so I'm closing this issue.

[2017-05-18 19:49] #35 closed

[2017-05-19 12:32] leonard84 commented on #9
@kcooney I think that the streaming format should be able to support this usecase, I would just say that it can't be a requirement for frameworks to do so since the consumer needs to be able to handle dynamic tests anyway. So it is just a bit more information up front. And I don't think that we need anything special, the framework just emits all tests it finds with `name` and `status` and leaves a

[2017-05-26 13:16] sormuras opened #36 "Set JPMS module name in manifest"
Like described in https://github.com/junit-team/junit5/issues/866 the artifact published by **opentest4j** should set the JPMS module name in its MANIFEST.MF file:

`opentest4j` -> `org.opentest4j`

[2017-06-20 06:51] #36 closed

[2017-09-18 22:41] filiphr opened #39 "Add diff info to AssertionFailedException"
AssertJ offers different ways of checking if a string is equal to something:
* `isEqualTo`
* `isEqualToIgnoringWhitespace`
* `isEqualToNormalizingWhitespace`

IDEs (at least IntellIJ) could use this additional information to use correct options from to display the diff. If we could pass this information to the IDEs it would be of a tremendous benefit to users (especially when they use the more adv

[2017-12-06 21:02] mkobit opened #40 "Clarify/remove "Draft Implementation" section from README"
It looks like this library enough traction to no longer be considered a draft as it has hit 1.0 and is also a transitive dependency of JUnit 5.

[2017-12-22 18:04] #40 closed

[2017-12-22 18:04] marcphilipp commented on #40
@mkobit Fixed, thanks!

[2018-01-25 10:45] tonit commented on #39
can you elaborate? How would you encode a generic "diff-type" as part of the payload where the left and right sides of the assertions are plain Serializables?
Let me think, so you want to encode metadata about "Operation A failed using B and C".
Right now you don't have any metadata about A in the exception payload.
So what you want is a new AssertionExpression-Type that holds Serializables B and

[2018-04-06 13:34] sbrannen opened #42 "AssertionFailedError default constructor creates message as empty String"
## Overview

The JavaDoc for `AssertionFailedError()` states the following.

However, it actually creates an `AssertionFailedError` with an empty String as the `message`.

## Deliverables

- [ ] Ensure that the `AssertionFailedError` default constructor does not set the `message` to an empty String but rather leaves it set to `null` (i.e., the default value in `Throwable`).

[2018-04-06 13:59] #42 closed

[2018-04-06 14:02] sbrannen opened #43 "AssertionFailedError constructors convert null or blank message to empty string"
## Overview

Constructors for `AssertionFailedError` which accept a `message` argument convert _empty_ and `null` values to an empty string, even though this behavior is not documented.

## Deliverables

- [ ] Ensure that `AssertionFailedError` constructors do not set the `message` to an empty String if the supplied value is `null` or _empty_.

[2018-04-06 14:11] #43 closed

[2018-04-06 14:17] sbrannen commented on #22
@mmichaelis, would you mind submitting a separate PR against `master` for the "robustness" fix?

That would make it much easier to get into the codebase sooner.

[2018-04-06 15:39] sbrannen opened #44 "AssertionFailedError constructors convert null message to "null""
## Overview

As a result of #43, constructors for `AssertionFailedError` which accept a `message` argument convert `null` values to the String `"null"` by delegating to the `AssertionError(Object)` constructor; however, if the client supplies a `null` message, it should not be converted to anything.

## Deliverables

- [ ] Ensure that `AssertionFailedError` constructors do not set the `message` to

[2018-04-06 15:43] #44 closed

[2018-04-06 21:46] mmichaelis commented on #22
@sbrannen Here you are: ota4j-team/opentest4j#45.

[2018-04-19 06:53] sebastianbergmann commented on #9
I am interested in this and hope that it will make sense to adapt for PHPUnit (for reasons that are somewhat described at https://github.com/sebastianbergmann/phpunit/issues/2964).

[2018-05-12 20:06] evant opened #46 "Custom message on MultipleFailuresError"
Hey, I'm looking at integrating opentest4j in my assertions lib. We already have a way we are formatting multiple errors. My current solution is to subclass `MultipleFailuresError` and override `getMessage()`. Is this a reasonable solution (will it affect tooling), or is there a strong reason to go with the default message?

[2018-05-13 15:15] sbrannen commented on #46
Yes, this has the potential to affect tooling.

For example, Eclipse has built-in support for `MultipleFailuresError`. So if you override `getMessage()`, I can only assume that the Eclipse "Result Comparison" dialog will no longer work properly.

Though, to be honest, I don't know the details of how the "Result Comparison" feature in Eclipse is implemented. So you'd want to investigate that.

Othe

[2018-05-13 15:15] #46 closed

[2018-05-18 09:34] stokito opened #47 "Power Assertions for Java"
Please take this project too under your umbrella https://github.com/jkschneider/java-power-assert
I can't tell you exactly what it may need to change but it's better to notify authors

[2018-05-26 16:15] evant opened #48 "Add some sort of tabluar Error"
Many testing and assertions libs allow some sort of paramatarized or tabluar input for tests. It would be nice to have an Error similar to MultipleFailuresError that exposes the paramatrized values for the failure(s).

[2018-06-01 14:22] kcooney commented on #47
Sorry, I am not quite sure what you are requesting here.

[2018-07-18 20:01] pdolezal commented on #4
@alb-i986 OK, I admit I'm got in this dicussion just by an accident, so I probably miss much your knowledge and context. However, your examples seem to me like good arguments to retain the inheritance from `AssertionError`. When inheriting from `RuntimeException`, it is IMO much higher chance that the code under the test catches the exception instead of being interrupted (and the runner perhaps do

[2018-07-18 20:38] kcooney commented on #4
Since JUnit 5 was released and uses these classes, we can't change this now. We should close this bug.

[2018-07-20 06:09] marcphilipp commented on #4
Indeed, thanks!

[2018-07-20 06:09] #4 closed

[2018-07-24 08:35] alb-i986 commented on #4
@pdolezal

You miss a point here.
Assertions are run by tests, thus it's the test that throws the exception.
Therefore the code under test will never be able to catch one.
It's the test framework the only responsible for handling such exceptions.

[2018-07-25 20:15] pdolezal commented on #4
@alb-i986
Except for the situations where a mock should be used. A poor's man solution then could be a hand-written mock that uses assertions to verify that the code under test, e.g., invokes a method on a given object with expected correct arguments.

But I admit, this does not look like a typical case ;-) and that's why a mocking framework should be used.

[2018-09-07 00:01] leonard84 commented on #22
@sbrannen can this be closed, the PR is already merged?

[2018-09-07 00:09] leonard84 commented on #11
I think that `junit-engine-api` and `junit-launcher` should not be part of OTA, the reason being, that OTAs goal is to provide the fundamental building blocks used by other engines. Although `junit-engine-api`  provides easy extensibility it is still just a possible implementation. Furthermore, it would complicate the development of the JUnit 5 Platform.

[2018-09-07 08:58] sbrannen commented on #22
Yes, thanks for reminding me.

Closing this now.

[2018-09-07 08:58] #22 closed

[2018-09-07 11:34] sbrannen commented on #11
**Team Decision**:

Keep `junit-platform-engine` and `junit-platform-launcher` as part of JUnit 5 for reasons mentioned in comments from @sbrannen and @leonard84.

[2018-09-07 11:34] #11 closed

[2018-09-08 20:38] marcphilipp opened #49 "Serialization of AssertionFailedError is broken"
In 1144820d8cdacb2c99f2554f38e6193c2f69edc7 a `message` instance variable was added to `AssertionFailedError`. However, the `serialVersionUID` was not changed. Thus, when deserializing an instance in JVMs with OTA4J 1.0.0 on the classpath, the `message` is lost.

Found while upgrading Gradle's JUnit Platform dependency.

Sources:
https://github.com/gradle/gradle/blob/23c25fcccab0fbf4921bfe7d5531f1

[2018-09-08 20:55] kcooney commented on #49
We could also write custom serialization code like we did for https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runner/Result.java

[2018-09-09 01:36] leonard84 commented on #49
Wouldn't changing the `serialVersionUID` just cause the de-serialization to fail completely? This would be worse than just losing the message IMHO.

As for 1. passing the message to `super` would be in addition to having the message field?

[2018-09-09 07:06] marcphilipp commented on #49
Indeed! However, in this case, to be backwards compatible it would depend on implementation details of superclasses which are out of our control. Thus, it would potentially break if those implementations would ever change.

Keeping it would still mean that serialization is broken only less so, wouldn't it?

[2018-09-09 12:30] sbrannen commented on #49
No, I don't think so. Having a local `message` field was simply a workaround for the fact that `AssertionError(String)` is a `private` constructor which we cannot invoke. So if we delegate to a super constructor that accepts the `message`, there should be no reason to retain a local copy (which in a way _shadows_ the `detailMessage` field in `Throwable`).

But... if we go back to always supplying

[2018-09-09 12:31] sbrannen commented on #49
In summary, the whole reason for #43 and #44 was to have clean `toString()` representations for assertion failures when a message is either not supplied or empty.

[2018-09-09 12:44] marcphilipp commented on #49
Another way to achieve this would be for `AssertionFailedError` to provide additional constructors that don't take a `message` parameter so they can call `super()` instead of `super(message)`. That's what the `AssertionFailedError()` constructor did prior to the changes in #43 and #44. In that case it would be up to the testing framework to call the appropriate constructor.

In addition, we could

[2018-09-09 12:49] sbrannen commented on #49
True.  But... that's not what it did in 1.0.0.

So, I guess the question is: do we want to go back to 100% compatibility with 1.0.0? If so, we'd need to revert #42, #43, and #44.

[2018-09-09 12:50] sbrannen commented on #49
And if we do that, we can't really introduce a new constructor that accepts _less than_ zero arguments. 😉

[2018-09-09 12:57] marcphilipp commented on #49
If we decide to add `message`-less constructors, I'd keep #42 in place. If not, we might as well always use `""` instead of `null` and revert #42, too.

[2018-09-09 15:07] marcphilipp commented on #49
I submitted a PR that implements @sbrannen's proposal: #50.

[2018-09-10 19:11] #49 closed

[2018-10-01 00:47] Tibor17 commented on #9
What features are missing in Surefire XML?
We have to keep that and JUnit5 can create its own report which is similar situation in TestNG. For instance Jenkins plugins rely on Surefire XML and therefore this fast to stay. Sometime we added more features or fixes.

[2018-10-01 17:11] leonard84 commented on #9
@Tibor17 I can think of
* Streaming Support (although Surefire XML could be just an archive format)
* Proper Hierarchy/Nesting
* Additional MetaData (KeyValue/Array)
* Usage of a UniqueId instead of TestName as primary key

A json representation was discuessed to make it easier to display it with JavaScript clients, of course a matching XML representation could be defined as well.

[2018-10-01 19:56] Tibor17 commented on #9
@leonard84
Streaming is question of system which transfers test status and not the format. And the unique id is useless because people are people and they will always read human readable and clear HTML report like in CI and they want to match it with sources. The JXR plugin together with surefire report plugin builds the report. I don't say it is a modern and beautiful report but there are tools w

[2018-10-01 20:57] baev commented on #9
BTW in Allure we are now implementing realtime report feature using directory watcher. As soon as result file is written to the file system, Allure will process it and update the report. In case you run tests in distributed environment (such as AWS) it much easier to work with separate files than with JSON streaming.

But having a brand new format that fits current needs would be nice. As @leonard

[2018-10-02 13:45] leonard84 commented on #9
Sure, but there is the difference between a readable name with spaces and other characters and a technical uniqueId which can be used to locate the test. Many frameworks use templated names to make names more readable, but currently this destroys the correct attribution to the source location. The idea is not to remove the TestName, but add a uniqueId as the primary key.

I don't agree, the idea i

[2018-11-01 11:40] sdavids opened #52 "Javadoc polish - first line with i.e."
![first-line](https://user-images.githubusercontent.com/201931/47849821-44fbf100-ddd3-11e8-90df-ea741f5edf77.png)

[2018-11-01 13:50] sbrannen commented on #52
Thanks for raising the issue.

At first I didn't understand what the _fix_ was, but now that I see your screenshot... I understand the "problem".

[2018-11-01 13:52] sbrannen commented on #52
I don't think the use of `{@literal ... }` here is the best solution though.

I'd rather rework those statements/paragraphs.

Let's see what I come up with.

[2019-03-07 12:00] sbrannen commented on #3
@kriegfrj, this issue dropped off our radar, but now that you bring it up, I think it's something worth considering.

Anyone care to submit a PR to get the ball rolling?

[2019-03-07 22:58] kriegfrj commented on #3
I made some relevant comments to this issue under https://github.com/joel-costigliola/assertj-core/issues/1459.

[2019-03-08 07:20] kriegfrj opened #55 "Provide interfaces for all OpenTest4J exceptions"
This is a generalisation of #27. It flows out of some work I've been trying to do to add OpenTest4J support to Mockito (https://github.com/mockito/mockito/issues/1649).

In my (admittedly brief) experience, the main issue holding back migration of assertion frameworks to OpenTest4J is being able to simultaneously maintain:

1. Loose coupling to OpenTest4J, and
2. Backward compatibility.

It is pos

[2019-03-09 13:43] marcphilipp commented on #55
Interesting idea!

@sbrannen @sormuras @mmerdes WDYT?

[2019-03-09 14:28] kriegfrj commented on #55
It occurred to me that with Java 8 (which allows default implementations for interface methods), this proxy trick would be unnecessary. Simply provide default implementations of all the methods. This would require setting Java 8 as the minimum target though, and not everyone's there yet...

[2019-04-13 05:24] Tibor17 commented on #9
Notice that [maven-surefire's XSD](https://maven.apache.org/surefire/maven-surefire-plugin/xsd/surefire-test-report.xsd) is old format and the new format contains a fix [maven-surefire's 3  XSD](https://maven.apache.org/surefire/maven-surefire-plugin/xsd/surefire-test-report-3.0.xsd).

[2019-04-13 11:06] marcphilipp commented on #9
@Tibor17 Thanks for sharing that! IIUC the new format does not allow for reporting nested structures such as parameterized or nested tests. Do you consider this new format "final" (i.e. are there already downstream tools that parse it) or would it still be possible to change it?

[2019-04-13 11:55] Tibor17 commented on #9
Marc, all depends on requirements. We can add more xml elements but it has
to take some time until it is proved by practical use, and this format must
not have any release candidates or milestones which change the outcome over
and over again.

On Sat, Apr 13, 2019 at 1:06 PM Marc Philipp <notifications@github.com>
wrote:

--
Cheers
Tibor

[2019-04-13 14:18] marcphilipp commented on #9
Sure, I agree. This is probably also the main reason why this issue has not seen any progress for such a long time. I plan to work on it once JUnit 5.5 is out but if anyone wants to get started on a proposal that would be great.

[2019-04-16 17:20] Tibor17 commented on #9
@marcphilipp
In [1] we talked about format too, and we said that the name of container is not in the report.
Pls correct me if I am wrong.
I want to announce that the XML knows `groups` which can be probably used to denote a container name on the top of each testcase. These groups are used by TestNG.

Maybe the guys from TestNG, @juherr and @krmahadevan, can tell us what's behind the terminology o

[2019-04-16 19:06] marcphilipp commented on #9
Where did we say that?

AFAIK TestNG's groups are more like JUnit Platform's tags. A container in JUnit Platform lingo is sth. that contains tests and/or other containers, i.e. it can be nested.

[2019-04-16 19:19] baev commented on #9
For TestNG People usually using TestSuite/Test/TestClass as containers and want to see nested structure in the report.

From reporting side I can say that there is actually no need of nesting, you can add a label (as Allure did) and then group results by labels.

The main problem of having nesting structure is that you need to wait until container is finished in order to write results. For example

[2019-04-16 19:47] marcphilipp commented on #9
Agreed, I think for streaming separate start/stop events and references to parents by id would be more useful instead of actually nesting elements in the file.

[2019-04-16 21:06] Tibor17 commented on #9
Maybe you know that I am implementing extensions in Surefire. One is called `statelessReport` which is a typical XML and thus stateless. We are reworking internals to transmit events and I believe that later a stateless report would be another extension which would persist the event on the fly.
I have quite a lots of work to rework Surefire to get to stateful report. To get there I have to fix sev

[2019-04-17 00:31] kcooney commented on #9
Having a nested structure can help with reporting. It can allow you to get timing on the test suite test class and test case level, which can give clues as to where the time is being spent.

[2019-04-17 05:58] marcphilipp commented on #9
I totally agree and will share a document in the next few days.

[2019-04-17 07:18] Tibor17 commented on #9
@marcphilipp
I meant inviting people from frameworks to become committers in this project.
But first of all, more important than writing final document (how) is to write (what) information and features are required by these frameworks. Then we will see if we are able to make some intersection in our consesnus to write one format of report, or we have to write multiple distinct reports and formats.

[2019-04-17 14:42] JLLeitschuh commented on #9
One thing I want to put out there from a security standpoint.

Something that I've been finding all over the industry when it comes to XML based standards is the number of specs, standards, and parsers all vulnerable to [XML External Entity (XXE) Processing](https://www.owasp.org/index.php/XML_External_Entity_(XXE)_Processing).

These tools were either vulnerable to these attacks via maliciously c

[2019-04-18 21:48] leonard84 opened #58 "Include Class of Throwable in MultipleFailuresError message"
`MultipleFailureException` of JUnit 4' included the class information in the message.
`String.format("\n  %s(%s)", e.getClass().getName(), e.getMessage())`

In `MultipleFailuresError` the name is only included when the message itself is null.

[code]

Was this an oversight when creating the new `MultipleFailuresError` or was this a deliberate choice? IMHO having that information can help to identi

[2019-04-19 07:08] marcphilipp commented on #58
IIRC `MultipleFailuresError` originally only accepted `AssertionErrors`, not all `Throwables`. Including the class name sounds very useful to me.

@sbrannen @sormuras WDYT?

[2019-04-19 14:25] mfriedenhagen commented on #9
JSON does not have this attack vector as there is no parsing standard at all ☺️. But I agree with using https is nowadays a must.

[2019-04-20 14:17] sbrannen commented on #58
Indeed... and the class-level Javadoc needs to be updated to reflect that.

I think it's fine to add the exception type's FQCN.

[2019-04-24 07:21] mickaelistria commented on #9
Any chance such effort of defining a standard for test reports extends to
1. non-JVM languages, and
2. a "protocol" to stream progress?

IMO, such a standard need to fulfill the 2 requirements above to be sustainably profitable.

The Debug Adapter Protocol for instance has managed to capture the main abstractions of all languages regarding threads, lines and so on. I imagine the same is possible t

[2019-04-24 12:37] Tibor17 commented on #9
Mickael, The reports are used to be oly statistics result. They are not
used for inventing a scifi.
I understand this activity as a reason to solve JUnit5 problems where
display name could not be placed in the current ANT-based standard (see
Surefire doc), however other things questions regarding names of JUnit5
container can be placed in "group" in the current standard.

We should, first of all,

[2019-04-27 16:48] mindplay-dk commented on #9
fwiw, I'm not generally fond of XML, but just want to point out why it may be the most appropriate thing for something like this: it streams, by design, with a SAX-style parser being available on practically any platform.

JSON is somewhat of a different story - yes, streaming JSON parsers exist, but they are generally designed for ingestion only (e.g. internally in a JSON decoder) and rarely, if

[2019-04-27 19:55] mkobit commented on #9
To throw one more consideration into the ring, consider using Protocol Buffers as the IDL format. I know this could introduce a dependency but it may be worth looking at.

For example, [`bazel` seems to have definitions in `test_status.proto`](https://github.com/bazelbuild/bazel/blob/9a32b861799278217c37eb32f864a951ca99617e/src/main/protobuf/test_status.proto#L2) but those test cases are [represen

[2019-04-28 02:33] marcphilipp commented on #58
@leonard84 Do you have time to submit a PR?

[2019-04-28 08:05] mindplay-dk commented on #9
@mkobit isn't this a serialization format as well? I think this falls in the same category as JSON - you could use it to serialize individual messages/packets, but you'd still need to define how the individual packets are going to stream.

One advantage of XML is that a schema can define constraints *of the stream* - e.g. what's allowed and in what order. If you build a stream layer based on (or o

[2019-04-28 15:41] kcooney commented on #9
A few points

While XML can be read with a streaming parser, it cannot be used to stream data from one process to another (which is what we would want if we wanted to drive an IDE UI from the results).

Bazel as a protocol buffer format for representing the output of a test action, but the test processes that are spawned by Bazel write the results to a file in XML format (I believe using JUnit-Ant

[2019-04-28 16:35] sormuras commented on #9
Good points, Kevin.

I'd like to propose another approach: let's use "the file system" as the main container and handler for "the reporting format": re-use basic, platform- and language agnostic, existing tools and optimized solutions that support hierarchical structures and multi-threading by default without re-inventing the wheel.

### "Use the file system, Luke"
A (JUnit Platform) test run can

[2019-04-28 17:04] mindplay-dk commented on #9
In my optic, this will add a lot of complexity - for example: traversal of folders and files, re-establishing the order in which the units were generated, and so on.

Opening a single XML file seems much simpler - traversal order is inherent in the tree structure, we're not reinventing the wheel as XML (and schema/validation etc.) is available everywhere, and piping between processes on the comman

[2019-04-28 17:37] kcooney commented on #9
@sormuras many teams have a suite of very fast tests. Writing a file to the filesystem for each test method would slow down runs of suites like this, even with an in-memory file system.

I do think it's a good idea to think about how the report can specify the location of files produced by the test (log files, screenshots, videos, etc). I'm not sure if JUnit 5 provides a good way for the test code

[2019-04-28 18:49] Tibor17 commented on #9
Still have a feeling that people are talking about technologies, rather than an architecture.
We should realize that there should be two reports:
+ (step 2) stateless (resolved events from RunListener)
+ (step 1) stateful which is pure list of events from `RunListener`.

After this you would realize that a list of events (step 1) is simple to do (without knowing the technologies), and then the end

[2019-04-29 15:36] oliviercarizzoni opened #59 "AssertionFailedError on strings comparison doesn't report diff precisely"
I recently upgraded to Junit 5, which uses in turn openAssert4j and AssertionFailedError on comparison failures.

It seems that, on strings comparison at least, opentest4j doesn't locate the diff content and just settle to report the whole string.

With AssertionFailedError (whole string in expected and actual) :

`org.opentest4j.AssertionFailedError: expected: <A simple phrase. A second phrase. A

[2019-05-02 13:12] marcphilipp commented on #59
I think we originally left off this feature as IDEs show a rich diff for you anyway. But when looking at failures via a build tool I agree that it would be helpful.

@oliviercarizzoni Would you be interested in submitting a PR?

[2019-05-06 02:36] kriegfrj commented on #55
Looking around, it also occurred to me that implementing something along these lines might be a potential long-term migration path to achieve #4 while maintaining backwards compatibility in the interim.

[2019-05-18 19:29] #58 closed

[2019-07-15 18:28] RGander opened #63 "Provide the expected and actual value within the error message if defined"
The `ComparisonFailure` provided the expected and actual value of the exception within its exception message. The opentest4j `AssertionFailedError` is just holding this values.

Example:

[code]

just prints:

[code]

instead of:

[code]

Please provide this expected and actual values within the Error Message. Because I think it was a really helpful feature. Or why got it dropped?

[2019-07-15 18:52] marcphilipp commented on #63
Because the message is generated by the actual testing framework and differs quite a lot, e.g. in JUnit and Spock.

What's your use case? Are you writing a new assertion library or testing framework?

[2019-07-15 19:03] RGander commented on #63
We just have a little utility library to compare Collections etc. because we find the assertj messages kind of confusing sometimes. And today we migrated it to junit5 and wondered that the expected-actual part was missing. :)

[2019-07-15 19:14] marcphilipp commented on #63
Have you tried using `org.junit.jupiter.Assertions` instead of creating `AssertionFailedError` instances directly?

[2019-07-16 11:37] sbrannen commented on #63
@marcphilipp is right: the easiest way to achieve your goal with JUnit Jupiter (a.k.a., JUnit 5) is as follows.

[code]

That fails as follows.

[code]

[2019-07-16 12:32] RGander commented on #63
Oh okay. That fits. Thank you very much.

[2019-07-16 12:40] sbrannen commented on #63
Thanks for the feedback. I am therefore closing this issue.

[2019-07-16 12:40] #63 closed

[2020-02-10 07:17] vlsi opened #64 "MultipleFailuresError loses exceptions in re-serialization scenarios"
Sometimes exceptions are passed through serialization, and it is not always the case that the receiver side has all the required classes to instantiate the exception.

For instance, when sending a SOAP response, one can't be sure that the receiver side would have `opentest4j` on the classpath.
In the same way, Gradle uses serialization to pass exceptions between daemon processes.

Note: Gradle (as

[2020-02-10 07:26] marcphilipp commented on #64
+1 for bumping to 1.7 and calling `addSuppressed`.

[2020-02-10 07:42] sormuras commented on #64
+1 for bumping -- why not directly to Java 8?

[2020-02-10 08:04] vlsi commented on #64
Well, I just saw you have 1.6, so 1.7 was a conservative suggestion.

On the other hand, both 1.7 and 1.8 are probably OK for me.

[2020-02-10 11:17] vlsi commented on #64
@marcphilipp , @sormuras , isn't this cool? https://github.com/vlsi/pgjdbc/runs/435902372#step:6:421

[2020-02-11 13:32] sbrannen commented on #64
So then.... OpenTest4J **2.0.0** ?

[2020-02-14 17:56] marcphilipp commented on #64
I guess so.

[2020-02-16 17:28] marcphilipp commented on #64
@vlsi Would you be interested in submitting a PR?

[2020-07-04 14:28] ebresie opened #65 "Raise a JSR for Test in Java"
This is a suggestion to establish a Test JSR to help in the process of standardizing test on JVM.

Can utilize opentest4j as reference implementation and/or TCK as applicable.

See http://jcp.org for more info.

[2020-07-04 15:04] eolivelli commented on #65
Sorry I can't understand what you mean.
In my opinion the JVM and Java language are not  the right place to standardise testing.
In Java with already have 'assert' but most probably we could have lived well without it.

Are you talking about adding tricks and hackable points to ease inspection and mutation of JVM state, objects....?

We are seeing that more and more the JVM is closing most of the

[2020-07-04 18:47] ebresie commented on #65
Unless I missed the intention of the project, if the intent of the project was to standardize on some interfaces and framework for testing on the JVM, then it seemed standardizing via a Java Community Process JSR would help.

This would be similar to how the Logging API JSR was developed in the context of Logging on the JVM and/or in Java.

[2020-09-16 14:21] vprudnikov opened #66 "java.lang.NoSuchMethodError: org.opentest4j.ValueWrapper.create(java.lang.Object, java.lang.String)"
Hi,

I get a strange NoSuchMethodError exception when running my spock tests (spock version 2.0-M3-groovy-3.0).
I have a maven project and I can confirm that I'm using opentest4j 1.2.0

I can't get a descriptive message in console when my test should fail. Instead, I get this:
[code]

I went to source code and I saw that opentest4j contains 2 'create' methods. One of them takes Object, another one

[2020-09-16 15:20] vprudnikov commented on #66
I found the solution
The problem was with another dependency picked by maven: wiremock-jre8-standalone:2.26.2

The fix is to declare the dependency explicitly:
[code]

[2020-09-16 15:20] #66 closed

[2020-09-17 08:07] marcphilipp commented on #66
@vprudnikov Thanks for sharing the fix! 👍

[2021-05-31 21:05] splatch opened #67 "Linking failed assertions to resources"
A follow up of discussions in junit-team/junit5#2504.

I have a set of dynamic tests which are based on a XML document. The XML document role is to define a hex-encoded byte sequence, fire a deserializer and compare generated object tree with expected XML structure.
So far I managed to use `testSourceUri` parameter in instantiated dynamic tests to hint IDE where to look for test definitions (`?lin

[2021-06-06 09:28] marcphilipp commented on #67
I think we could address this by introducing a new `LocationAwareThrowable` interface with a a `Set<URI> getLocations()` method and implementing it in all `AssertionError`/`Exception` implementations.

[2021-06-06 22:58] splatch commented on #67
I can't comment much over your proposal, cause this is more specific to tooling maintainers who would consume it.

From naming/design perspective I'd say that for me it sounds like `LocationAware` and `LocationsAware` could be used do distinct situations where there is one pointer or multiple (ie. dynamic test with single source or set of dynamic tests with multiple sources?). A specific Throwable

[2021-06-07 09:07] sbrannen commented on #67
I'm wondering if "source" might be a better term than "location" for this use case, as in "the source of the (cause of the) exception" so to speak.

I also wonder if the method should return a collection or single location/source.

For example, `MultipleFailuresError` could be used to aggregate multiple `LocationAwareThrowable` exceptions, where each individual exception points to a single externa

[2021-06-07 14:13] leonard84 commented on #67
One thing to keep in mind, that absolute URLs can be problematic, when the report displayed a browser.
Relative URLs can also be problematic, when the report does not have the same base directory and the respective resource is not moved along.

Also, do we define a standard to address specific content in a file, e.g.,  what github does with line numbers `#L42`?

[2021-06-07 17:47] marcphilipp commented on #67
I think we should do what JUnit Platform already supports in `FilePosition`:
[code]

[2021-06-07 17:49] marcphilipp commented on #67
I went with "location" since "source" (cf. `TestSource` in the JUnit Platform) might be too restrictive, e.g. when you want to point at resource files.

[2021-06-20 09:20] jdlib opened #68 "MultipleFailuresError builds its own error message, caller can just specify the message heading"
I want to comment on the design decision to let MultipleFailuresError build the final error message (the caller may only supply a heading), which in my eyes is very unfortunate. This topic has been touched slightly in issue https://github.com/ota4j-team/opentest4j/issues/46.

I'm not aware of any general purpose Throwable implementation which changes the error message passed by the caller.  With r

[2021-10-11 22:02] TWiStErRob commented on #5
This has a side effect that it's not possible to attach a cause on top of the AssertionFailedError.
This used to work: `generateSequence(ex) { it.cause }.last().initCause(IllegalArgumentException("Command: $command"))`, and the benefit is adding additional information to validation/assertion done by other frameworks. There's always a root cause that has no cause, so calling initCause on it should

[2021-11-01 16:16] marcphilipp commented on #5
SGTM! 👍

[2022-03-25 12:39] marcphilipp commented on #9
A new repo has been created that contains a drafts of two new formats and a proof-of-concept implementation at https://github.com/ota4j-team/open-test-reporting. JUnit 5.9 M1 will being writing the event-based format assuming https://github.com/junit-team/junit5/pull/2868 will be merged. Please see the readme of the separate repo for details and feel free to start a [discussion](https://github.com

[2022-03-25 12:39] #9 closed

[2022-03-25 12:44] mindplay-dk commented on #9
3 years on, and fwiw, I would more likely shoot for a [JSON-stream](https://en.wikipedia.org/wiki/JSON_streaming) format - XML is clunky and the world uses JSON now.

[2022-06-24 12:59] PuppyPi opened #69 "Have you considered a standard for the invocation and reporting in Java as well?"
Would anyone be interested in the idea of a way of elegantly separating the part of a testing framework that an IDE has to have built in (possibly as a plugin) from the majority of it, so that the testing framework itself could be included as "just another dependency" or "utility classes" (eg, a Referenced Library in Eclipse not a Built-In Library)?

Then you could use JUnit or TestNG or something

[2022-07-21 05:54] marcphilipp commented on #69
What you're describing sounds a lot like what the JUnit Platform abstraction does. IDEs only have to know about the platform to execute tests. And there's even [an annotation](https://junit.org/junit5/docs/current/api/org.junit.platform.commons/org/junit/platform/commons/annotation/Testable.html) to help IDEs understand which classes are tests.

<img src="https://raw.githubusercontent.com/marcphil

[2022-07-27 18:48] PuppyPi commented on #69
That does seem similar.

But if @Testable has no members (like a java.lang.Class annotation-method), how can the IDE tell which TestEngine implementation to use?  Assuming they can even be on the classpath of the project (in client code not IDE/plugin code)?

[2022-07-28 07:05] marcphilipp commented on #69
The IDE doesn't have to know which TestEngine implementation to use. It only needs to pass the test class via a `ClassSelector` to the JUnit Platform Launcher which in turn will ask all registered engines to run the class, if they can.

[2022-07-28 15:18] PuppyPi commented on #69
"Registered engines" there you go; I thought that's how it must work.

That's my point: how does the IDE know which engines to register when they're in a .jar (or not) included in the project's classpath aka "Referenced Libraries" for Eclipse ?

[2022-07-28 17:04] kcooney commented on #69
They register themselves. https://junit.org/junit5/docs/current/user-guide/#test-engines-registration

[2022-07-28 17:09] PuppyPi commented on #69
Ahhh that; I see, thanks!

But it does perform that for Referenced Libraries on the project's classpath that are part of the project not the IDE?  Ie, does it run the java.util.ServiceLoader method[s] in a ClassLoader context that includes non-IDE, project jars?

I guess that would be IDE dependent but is that the expected behavior?

[2022-08-02 16:35] kcooney commented on #69
I would expect most IDEs to spawn a new JVM to run the tests (or, possibly, run in the same VM with a fancy class loader that uses the project jars). So the service loader would see project based jars and not the jars the IDE itself uses. How the run-time class path would be constructed would depend on how the projects are configured in the IDE.

If you have more questions, I suggest asking on a J

[2022-08-03 00:05] PuppyPi commented on #69
Okay that's what I'd expect.
JUnit Platform (as opposed to JUnit Framework) does seem to serve the purpose my original post was about!  Thanks, all!

[2022-08-03 00:05] #69 closed

[2022-08-29 07:22] mcahornsirup commented on #10
@baev is this implemented with allure2 (which would be great!) Because JUnit 5.9.0 supports this as well ... and it would make the working with reports simpler due to its unification.